<%= form_tag("/users/search", method: "get") do %>
  <p>
    <%= text_field_tag :search, params[:search],placeholder: "Add Users by E-mail" %>
    <%= submit_tag "add", :name => nil %>
  </p>
<% end %>

<table class="table">
<% @friends.each do |friend| %>
      <tr>
      <% unfriend = User.where('id ='+friend.friend_id.to_s)%>
      <% unfriend.each do |f| %>
        <td><%=f.name %></td>       
        <td><%= link_to 'unfriend', friend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
</table>

<br/>

<%= link_to 'New Friend', new_friend_path %>
