<h1><%= @group.name %></h1>
<h1><%= @group.id %></h1>
<p id="notice"><%= notice %></p>
<p id="notice"><%= @alert %></p>
<%
  i="/groups_users/"+@group.id.to_s+"/search"
%>
<%= form_tag(i, method: "get") do %>
  <p>
  <div class="col-md-8">
    <%= text_field_tag :search, params[:search] ,placeholder: "friend name ..." ,class: "form-control" %>
    <%= hidden_field_tag :group_id ,params[:group_id] ,:value=>@group.id %>
  </div>
    <%= submit_tag "ADD", :name => nil , class: 'btn btn-success'%>
  </p>
<% end %>

<div class="row">
  <% @group.users.each do |friend|%>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3><%=friend.name%></h3>
          <p>
            <%
              i="/groups_users/"+friend.id.to_s
            %>
            <%=link_to 'remove' , i, :data => { :group => @group.id} , class: 'btn btn-success'%>
            <!-- <a href="/groups_users/<%=friend.id%>" data-group="2" data-method="delete"  class="btn btn-danger" role="button">remove</a> -->
          </p>
        </div>
      </div>
    </div>
  <%end%>
</div>

<%= link_to 'Back', groups_path %>