<h1>Yalla Notlob</h1>
<% if user_signed_in? %>
<div class="well">
<table class="table" >
  <thead>
    <tr>
      <th>Last Orders</th>      
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><a href="/orders/<%=order.id%>"><%= order.name %> on <%= order.date %></a></td>      
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<table  class="table">
  <thead>
    <tr>
      <th>Last activites</th>      
    </tr>
  </thead>

  <tbody>
    <% @user_friend.each do |friend| %>
      <% friend.orders.each do |order| %>
      <tr>      
        <td><%=friend.name%> has created <a href="/orders/<%=order.id%>">an order</a> for <a href="/orders/<%=order.id%>"><%= order.name %></a> from <a href="/orders/<%=order.id%>"><%=order.restaurant %></a>
        </td>      
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

</div>


<% end %>
