<!DOCTYPE html>
<html>
<head>
  <title>RailsProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css" media="screen">
  	a{
  		color:darkblue;
      font-weight:bold;
      font-size:18px;
  	}
    a:hover{
      text-decoration:none;
      color:blue;
      background-color:white;
    }
  </style>
</head>
<body>

<%= render 'shared/navigation' %>
<div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">

<%= yield %>
</div>
</div>
</div>

</body>
</html>
